.underlined-link {
    text-decoration: underline;
    transition: color 0.2s ease;
}

.underlined-link:hover {
    text-decoration: none;
}

.experience-logo {
    border-radius: 8px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experience-item {
    width: 100%;
    max-width: 800px;
}

.experience-heading {
    display: flex;
    align-items: center;
    gap: 20px;
}

.experience-list {
    list-style-type: disc;
    padding-left: 20px;
}

.tech-pill {
    display: inline-block;
    padding: 4px 12px;
    background-color: hsl(204, 69%, 81%);
    border-radius: 20px;
    font-size: 0.9em;
    color: #000000;
    border: 1px solid #ddd;
}

.tech-pills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.github-icon {
    font-size: 24px;
    color: #333;
}